.feynman {
    width: 100%;
    min-height: 790px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("./../../images/feynman.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color:  #f2f2f2;
    background-size: 867px 637px;
    padding-top: 100px;
   }