.page {  
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header {  
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  background-color:  #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__title_text {
  width: 530px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 2;
  object-fit: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top:64px;
  right: 0;
}

.logo {  
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
}

.logo_place_footer {
  height: 35px;
  background-image: url("../images/logo_place_footer.svg");
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  width: 80%;
  padding-top: 100px;
}

.two-columns {    
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  padding-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  padding-bottom: 30px;
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.digits { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px 0;
}

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  color: white;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.feynman {
 width: 100%;
 height: 790px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
 position: relative;
 background-image: url("../images/feynman.png");
 background-repeat: no-repeat;
 background-position: left bottom;
 background-color:  #f2f2f2;
 background-size: 867px 637px;
}

.feynman__title {
  margin: 0;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover,
.footer__column-link:hover  {
  cursor: pointer;
}


.kaufman {   
  padding: 90px 0 90px 0;
  background-color:  #1f1f1f;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 867px;
  height: 637px;
  top: 0;
  right: -200px;   
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
}

.footer {
  min-height: 350px;
  width: 100%;
  background-color:  #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  display: flex;
  justify-content: center;
  color: white;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__author {
  margin: 0;
  padding: 0;
  padding: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links{  
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px 0;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  object-fit: cover;
  padding-right: 10px;
}